body {
    background-color: #061E29;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    color: #f375c2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2{
    color: #5F9598;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #5F9598;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    color: #5F9598;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: #F3F4F4;
    text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: square;
    color: #1D546D;
    text-align: center;
    text-justify: center;
}

ol {
    list-style-type: square;
    color: #1D546D;
    text-align: center;
}